/* fonts */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  vertical-align: baseline;
  font-family: "Noto Sans KR", sans-serif !important;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

a {
  text-decoration: none;
  color: initial;
}

/* input */
input,
textarea {
  font-family: "Noto Sans KR", sans-serif !important;
}

select {
  cursor: pointer;
  -webkit-appearance: none; /* chrome */
  -moz-appearance: none; /* FireFox */
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
}

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
li,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif !important;
}
textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
  outline: none;
  border: none;
  resize: none;
}
textarea::-webkit-scrollbar {
  display: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#root {
  height: 100%;
}

.icon-svg {
  cursor: pointer;
}
